<% include header %>
<% include bar%>
<div class="container">
    <p class="building"><span>^_^ 通知系统正在拼命建设中..</span></p>
</div>

<% include footer%>
<% include js%>
<script src="/javascripts/amazeui.switch.min.js"></script>
<script src="/javascripts/post.js"></script>
</body>
</html>


