

<div class="container classroom">


    <div class="am-g">
        <div class="am-u-md-8 am-u-sm-centered">
            <form class="am-form">
                <fieldset class="am-form-set">
                    <div class="am-form-group am-form-select">
                        <select id="college" class=" am-input-lg">
                            <option value="http://baidu.com">计算机</option>
                        </select>
                    </div>

                </fieldset>
            </form>




        </div>
    </div>




</div>

<script src="/javascripts/handlebars.min.js"></script>
<script src="/javascripts/amazeui.widgets.helper.min.js"></script>

</body>
</html>


